* {
    font-family: poppins, system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
  
  body {
    display: flex;
    flex-direction: column;
  }

main {
    flex: 1;
  
  }

  /*
  header {
    color: black;
    background-color: #6B9080;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
 */


  #navbar {
    background-color: #9C89B8;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: top 0.3s;
    z-index: 10;
  }

  nav img{
    margin: 10px;
   }
  


#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    position: absolute;
    right: 10px;
    z-index: 20;
  }
  
  /* Altera o ícone ao clicar */
  #menu.active::before {
    content: "X";
  }
  
  #menu::before {
    content: "≡";
  }
  
  /* Navegação (Mobile por padrão) */
  nav .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #B8BEDD;
    z-index: 9;
    text-align: center;
    
  }
  
  
  .navigation.show {
    display: flex;
  }
  
  
  .navigation li {
    list-style: none;
  }
  
  .navigation a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    justify-content: center;
    
  }
  
  .navigation a:hover {
    background-color: #F0E6EF;
    color: black;
  }


  .parallax {
    background-image: url("../images/hero.webp");
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  /*chatbot modal*/
  .btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 1px;;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    right: 10px; 
    bottom: 10px; 
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
  }

 

#chatbox {
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

#user-input {
    width: calc(100% - 60px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #F0A6CA;
    color: black;
    border: none;
    cursor: pointer;
}


  @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

  .content img {
    width: 150px;
  }

  .content {
    display: grid;
    grid-template-columns:  1fr 1fr;;
    margin: 10px;
    gap: 50px;
    opacity: 0;
    font-size: 80%;
  }

  .content.show {
    animation: fadeInUp 0.8s ease-out forwards;
}


  span {
    color: #63517c;
    font-weight: bold;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 60px;
  }



  footer {
    background-color: #a994c8;
    color: black;
    text-align: center;
    padding: 10px 0;
  
  }
  footer span {
    color: black;
    font-weight: none;
  }

  .hero {
   display: none;
  }

  /* Form */
  .gradient {
    background: linear-gradient(115deg, #B8BEDD 10%, #F0A6CA 90%);
  }

  input[type=text], input[type=email], input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, select:focus {
    border-color: #9C89B8;
    box-shadow: 0 0 10px rgba(125, 76, 175, 0.5);
}

input[type=submit] {
    width: 100%;
    background: linear-gradient(115deg, #B8BEDD 10%, #F0A6CA 90%);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

input[type=submit]:hover {
    transform: scale(1.05);
}

input[type=submit]:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

div form {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin-top: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 300px;
    margin: 100px auto 100px ;
}

form h1{
  font-size: 20px;
}

div form:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.formHome{
  width: 10%;
  margin: 0 auto 200px;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  text-align: center;
  background-color: white;
}

.card img {
  width: 200px;
  height: 200px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


/* modal */
.modal {
  width: 90%;
  max-width: 400px;
  border: none;
  padding: 20px;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: auto auto auto;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 15px;
}

.close-btn {
  padding: 8px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  
}

.close-btn:hover {
  background-color: #c82333;
}

#directory {
  display: grid;
  grid-template-columns:  1fr;
  gap: 30px;
  margin: 200px 100px 100px;
  justify-content: center;
}

#directory2 {
  display: grid;
  grid-template-columns:  1fr;
  gap: 30px;
  margin: 200px 100px 100px;
  justify-content: center;
}

#directory2 .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  text-align: center;
  background-color: white;
}
  

  @media (min-width: 768px) {
    #menu {
        display: none;
    }

    .hero {
      color: white;
      font-size: 40px;
      position: absolute;
      text-align: center;
      top: 10%;
      left: 22%;
      text-shadow: rgb(167, 167, 167) 2px 5px;
      display: block;

    }
  
    nav .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
    justify-content: center;
    }
  
    .navigation li {
        margin: 0 10px;
    }
  
    .navigation a {
        padding: 0.5rem 1rem;
        color: black;
        
    }
  
    .navigation a:hover {
        background-color: transparent;
        color: #EDF6F9;
        border-bottom: 2px solid #EDF6F9;
    }

    .parallax {
      /* The image used */
      background-image: url("../images/hero.webp");

    
      /* Set a specific height */
      min-height: 700px; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .content img {
      width: 500px;
    }
  
    .content {
      display: grid;
      grid-template-columns: 2fr 2fr;
      margin: 100px;
      font-size: 2rem;
      gap: 100px;
    }
  
    h1 {
      text-align: center;
      font-size: 4rem;
      margin: 60px;
    }
  

    footer {
      background-color: #a994c8;
      color: black;
      display: flex;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      gap: 200px; 
    }

    footer span {
      color: black;
      font-weight: none;
    }

    div form {
      border-radius: 5px;
      background-color: white;
      padding: 20px;
      margin-top: 200px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      width: 600px;
      margin: 100px auto 100px ;
  }
  form h1{
    font-size: x-large;
  }

  #directory {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 30px;
    margin: 200px 100px 100px;
    justify-content: center;
  }

  #directory2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-content: center;
    
  }

  .modal {
    width: 50%;
    max-width: 400px;
    border: none;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: auto auto auto;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    text-align: center;
    background-color: white;
  }
  
  }  