/* Geral */
* {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: white;
    background-color: #0b2545;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
	display: grid;
	grid-template-columns: 1fr;
    align-items: center;
	justify-content: center;
    position: relative;
    z-index: 10;
}

header img {
    width: 100px;
    margin-left: 10px;
}

header h1 {
    margin: 0 auto;
}

/* Botão do menu no mobile */
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding: .5rem .75rem;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 20;
}

/* Altera o ícone ao clicar */
#menu.active::before {
    content: "X";
}

#menu::before {
    content: "≡";
}

/* Navegação (Mobile por padrão) */
nav .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #13315c;
    z-index: 9;
    text-align: center;
}

/* Mostra o menu ao clicar no botão */
.navigation.show {
    display: flex;
}

/* Estilo dos itens do menu */
.navigation li {
    list-style: none;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #0b2545;
    color: aqua;
}

.card {
    background-color: #eef4ed;
	border: 1px solid #ccc;
	max-width: 600px;
	margin: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: grid;
	grid-template-rows: auto;
	text-align: justify;
}

#courseList p {
	border-radius: 10%;
	margin: 20px;
}

button {
	background-color: #000000;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	max-width: 150px;
}

.container {
    display: flex;
    gap: 10px; 
	justify-content: center;
}

.completed {
    background-color: green;
	border-radius: 30%;
	color: white;
	padding: 5px;
	border: 5px;
	
	
}

.incomplete {
    background-color: rgb(170, 170, 170);
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 5px;

}

figure {
	justify-content: center;
	text-align: center;
	padding: 10px;
}


@media (min-width: 768px) {
    #menu {
        display: none;
    }

    nav .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
		justify-content: center;
    }

    .navigation li {
        margin: 0 10px;
    }

    .navigation a {
        padding: 0.5rem 1rem;
        color: white;
    }

    .navigation a:hover {
        background-color: transparent;
        color: aqua;
        border-bottom: 2px solid aqua;
    }
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #eef4ed;
		border: 1px solid #ccc;
		max-width: 600px;
		margin: 20px 100px auto;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		gap: 1rem;
		text-align: justify;
		
}

.card p, .card img {
	padding-left: 20px; 
	padding-bottom: 20px;
}



.card ul {
	margin: 0 auto;
	padding-left: 20px;
	width: 100%;
	gap: 0.5rem;
	list-style-type: disc; 
	list-style-position: inside; 
	
}
.card ul li {
	text-align: left;
	padding: 0.5rem 0;
}

.card h2 {
    color: white;
    background-color: #134074;
    text-align: center;
    padding: 10px 0;
}

footer {
    background-color: #13315c;
    color: white;
    text-align: center;
    padding: 10px 0;
}
